# Based on https://github.com/direnv/direnv/wiki/Node#using-nvm
use_nvm() {
  local nvm_dir="${NVM_DIR:-$HOME/.nvm}"
  if [[ ! -s "$nvm_dir/nvm.sh" ]]; then
    echo "jevort: install nvm, then run 'nvm install' for .nvmrc" >&2
    return 1
  fi

  source "$nvm_dir/nvm.sh" --no-use
  nvm use --silent "$1"
}

watch_file .nvmrc
use nvm "$(<.nvmrc)" || exit 1
layout node
source_env_if_exists .envrc.local
